# OS
.DS_Store
Thumbs.db

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.parcel-cache/
*.log

# Python
venv/
.env
*.pyc
__pycache__/
*.pytest_cache/
.mypy_cache/
.pyright/

# Chroma & SQLite data
data/chroma/
data/*.db
data/*.sqlite
data/*.sqlite3

# VS Code
.vscode/*
!.vscode/settings.json

# Dist
dist/

backend/certs/
backend/data/
backend/latency_log.jsonl


